admin/node_modules/
client/node_modules/
server/node_modules/
admin/dist/*
client/dist/*
server/dist/*
admin/.env/*
admin/.env.local/*
admin/.env.development/*
admin/.env.production/*
client/.env/*
client/.env.local/*
client/.env*
admin/.env.development/*
admin/.env*
client/.env.production/*
server/.env/*
server/.env.local/*
server/.env.development/*
server/.env.production/*
server/.env.staging
server/.env*
admin/.next/
client/.next/
server/src/logs/reqLog.log
server/src/logs/errLog.log
server/src/logs/*
server/prisma/build/seed.js

server/uploadedImages/*
node_modules
